.img-pp {
  height: 279px;
  width: 335px;
  /* background-color: rgb(216, 226, 226); */
  border-radius: 20px;
}

.product {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  padding-left: 32px;
}

.product-whole {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.h1-p {
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand";
}

.name-p {
  font-size: 15px;
  width: 330px;
  font-family: "Quicksand";
  color: #c7c7c7;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.cart-a {
  padding: 8px;
  background-color: #a45de6;
  color: white;
  font-size: 19px;
  border-radius: 20px;
  margin-top: -14px;
}
