@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Unbounded:wght@200..900&display=swap");

.navbar-under {
  height: 60px;
  width: 100%;
  position: relative;
}

.navbar-whole {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Quicksand";
}

.navbar {
  width: 70%;
  height: 40px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 5px;
  padding-top: 16px;
  padding-left: 20px;
}

.navbar-icn1 {
  color: white;
  font-size: 20px;
  padding-top: 1px;
}
.navbar-flash-fsn {
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  gap: 6px;
}

.flash {
  color: rgb(200 140 255);
}

.navbar-lst {
  color: white;
  display: flex;
  padding-top: 8px;
  padding-right: 20px;
}

.navbar-p {
  color: #c7c7c7;
  font-size: 16px;
  padding-top: 11px;
  padding-right: 10px;
}

.navbar-icn2 {
  font-size: 30px;
  padding-top: 4px;
}

.navbar-no {
  background-color: rgb(132 86 174);
  color: white;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 900;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 22px;
  height: 0px;
  margin-top: -5px;
}
